* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

#root {
  height: 100vh;
  display: grid;
  grid-template-rows: 80px 1fr 80px;
}

a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
}

.header, .content, .footer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: #b6c8f8;
  gap: 10px;
}

.content {

}

.footer {
  background-color: #b6c8f8;
}

h1 {
  margin: 20px auto;
}

.active__item {
  background-color: #768ac0;
}

.navigation {
  list-style-type: none;
  display: flex;
}

.navigation__item--active {
  background-color: #768ac0;
}

.content a {
  color: #000;
  display: block;
}

.new__item {
  font-size: 26px;
  width: 50%;
}

.new__text {
  width: 50%;
  margin: 3px auto;
  text-align: justify;
}

.new__title {
  display: block;
  padding: 20px 10px;
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px dashed #768ac0;
}